@model List<Worktastic.Model.JobPosting>

@{
    ViewData["Title"] = "Your Jobs";
}

<a class="btn btn-primary" asp-controller="JobPosting" asp-action="CreateEditJobPosting">Post New Job</a>

<hr />

<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Job Title</th>
            <th>Job Location</th>
            <th>Company Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (Worktastic.Model.JobPosting jobPosting in Model)
            { 
                <tr>
                    <td>@jobPosting.JobTitle</td>
                    <td>@jobPosting.JobLocation</td>
                    <td>@jobPosting.CompanyName</td>
                    <td>
                        <a asp-route-id="@jobPosting.Id" asp-controller="JobPosting" asp-action="CreateEditJobPosting" class="btn btn-warning">Edit</a>
                        <a asp-route-id="@jobPosting.Id" asp-controller="JobPosting" asp-action="DeleteJobPosting" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>